- errors_for_col = f.object.errors.full_messages_for(col)
.form-group.row
  = f.label col, class: 'col-sm-2 col-form-label'
  .col-sm-10
    = f.number_field col, class: "form-control#{' is-invalid' if errors_for_col.present?}"
    - if errors_for_col.empty? && opts[:message].present?
      .form-text.text-muted.filled.text-sm.mt-1= opts[:message]
    - else
      - errors_for_col.each do |message|
        %p.text-danger.filled.text-sm.mt-1= message
