.container
  %h2 レビューリクエスト作成
  = simple_form_for @review_req, url: users_pulls_review_requests_path do |f|
    = f.hidden_field :is_open, value: true
    = f.input :name
    = f.input :description
    - pulls_collection = current_user.pulls.map { |pull| [pull.name, pull.id] }
    = f.input :pull_id, collection: pulls_collection
    - rooms_collection = current_user.participating_rooms.map { |room| [room.name, room.id] }
    = f.input :room_id, collection: rooms_collection
    = f.button :submit, class: "btn-primary"
