.padding
  .box
    .box-header
      %h2= @repo.full_name
      %small= link_to @repo.url, @repo.url, target: "_blank"
    %table.table
      %thead
        %tr
          %th{ style: "width:50px;" } #
          %th プルリク名
          %th{ style: "width:200px;" }
      %tbody
        - if @pulls.present?
          - @pulls.each do |pull|
            %tr
              %td.align-middle= pull.number
              %td.align-middle= link_to pull.name, users_repo_pull_path(@repo, pull)
              %td.align-middle 
                = link_to new_users_pulls_review_request_path(pull), class: "btn btn-sm info" do
                  %i.fa.fa-plus-circle
                  %span レビューリクエストを作成
        - else
          %tr
            %td -
            %td 表示できるプルリクはありません
  %u= link_to "リポジトリ一覧へ戻る", users_repos_path, class: "text-muted"
