.box.m-0.edit-comment-form
  = form_for ReviewComment.new, url: users_rooms_review_comment_path, method: :patch do |f|
    = f.hidden_field :id, class: 'edit-comment-id'
    - error_for_col = f.object.errors.full_messages_for(:body)
    = f.text_area :body, rows: 5, placeholder: "コメントを入力...", class: "edit-comment-body form-control no-border #{'is-invalid' if error_for_col.present?}"
    .box-divider.m-0
    .box-footer.clearfix
      - error_for_col.each do |message|
        %p.text-danger.filled.text-sm.mt-1= message
      .float-right
        = button_tag "キャンセル", class: "btn btn-sm danger cancel-comment mr-2"
        = f.submit "コメントする", class: "btn btn-sm primary update-comment"
