.padding
  .box
    .box-header.navbar
      %h2.flex
        = link_to users_room_path(@room), class: 'mr-2 align-middle text-primary' do
          %i.fa.fa-chevron-left
        %span.align-middle= @review_req.name
      %span.avatar.w-32.flex-row.order-lg-2
        = image_tag @review_req.reviewee.check_and_return_image(:thumb)
    .box-divider.m-0
    .box-body
      .mb-3
        .badge.text{ class: @review_req.is_open ? "success" : "danger" }
          %i.fa{ class: @review_req.is_open ? "fa-square-o" : "fa-check-square-o" }
          = @review_req.is_open ? "オープン" : "クローズ"
        .badge.text{ class: @review_req.state_color }= @review_req.state_text
      .markdown-body.no-border= markdown @review_req.description
  .streamline.ml-2
    - @review_comments.each do |comment|
      .sl-item
        .sl-left= image_tag comment.user.check_and_return_image(:thumb), class: "circle"
        .sl-content
          .mb-1
            .sl-date.text-muted= comment.created_at.strftime("%Y-%m-%d %H:%M")
            %b.sl-author= comment.user.name
            %span さんが
            .badge.text-sm.mr-0{ class: comment.state_color }
              %span= comment.state_text
            %span.align-middle をしました
          - if comment.body.present?
            .box.mb-1
              .box-body
                .markdown-body.no-border= markdown comment.body
    .sl-item
      .sl-left= image_tag current_user.check_and_return_image(:thumb), class: "circle"
      .sl-content
        = simple_form_for @review_comment, url: users_rooms_review_comments_path do |f|
          = f.hidden_field :review_request_id, value: @review_req.id
          = f.input :body
          = f.input :state, collection: ReviewComment.selectable_state(current_user, @room, @review_req), include_blank: false
          = f.button :submit, class: "primary"
