.padding
  .box
    .box-header
      %h2 
        = link_to back_path, class: 'mr-2 align-middle text-primary' do
          %i.fa.fa-chevron-left
        %span.align-middle レビューリクエスト作成
    .box-divider.m-0
    .box-body
      .row.mt-4
        .col-sm-8.offset-sm-2
          = form_for resource, url: url do |f|
            = f.hidden_field :is_open, value: true
            .form-group.row.mb-4
              = f.label :name, class: "col-sm-3 col-form-label"
              .col-sm-9
                = f.text_field :name, class: "form-control #{'is-invalid' if resource.errors.full_messages_for(:name).present?}"
                - resource.errors.full_messages_for(:name).each do |message|
                  %p.text-muted.filled.text-sm.mt-1.mb-0= message
            .form-group.row.mb-4
              = f.label :description, class: "col-sm-3 col-form-label"
              .col-sm-9
                = f.text_area :description, class: "form-control #{'is-invalid' if resource.errors.full_messages_for(:description).present?}"
                - resource.errors.full_messages_for(:description).each do |message|
                  %p.text-muted.filled.text-sm.mt-1.mb-0= message
            .form-group.row.mb-4
              = f.label :pull_id, class: "col-sm-3 col-form-label"
              .col-sm-9
                = f.select :pull_id, pull_collection, {}, class: "form-control #{'is-invalid' if resource.errors.full_messages_for(:pull_id).present?}"
                - resource.errors.full_messages_for(:pull_id).each do |message|
                  %p.text-muted.filled.text-sm.mt-1.mb-0= message
            .form-group.row.mb-4
              = f.label :room_id, class: "col-sm-3 col-form-label"
              .col-sm-9
                = f.select :room_id, room_collection, {}, class: "form-control #{'is-invalid' if resource.errors.full_messages_for(:room_id).present?}"
                - resource.errors.full_messages_for(:room_id).each do |message|
                  %p.text-muted.filled.text-sm.mt-1.mb-0= message
            .action.text-center.mb-4
              = f.submit class: "btn btn-rounded btn-fw primary"
