.container
  %h2= @pull.name
  %p= link_to @pull.url, @pull.url, target: "_blank"
  -if @pull.description.present?
    .markdown-body= markdown @pull.description
  %p= link_to "レビューリクエストを作成する", new_users_pulls_review_request_path(@pull), class: "btn btn-primary"
  %p= link_to "リポジトリ詳細に戻る", users_repo_path(@repo)
