= simple_form_for resource, url: url do |f|
  = f.input :name
  = f.input :description
  = f.input :capacity
  .form-group
    = label :skill, "レビュー可能言語"
    = select :skill, :language, Language.options, { selected: lang_ids }, class: "select2 form-control", multiple: true
  = f.button :submit, class: "btn-primary"
