.container
  %h2 ルーム一覧
  - if current_user.is_reviewer?
    %p= link_to "ルームを作成する", new_users_room_path, class: "btn btn-primary"
  .table-responsive-md
    %table.table
      %thead
        %tr
          %th{ scope: "col" } ルーム名
          %th{ scope: "col" } 参加上限人数
          %th{ scope: "col" } レビュワー
          %th{ scope: "col" } ステータス
          %th{ scope: "col" }
      %tbody
        - if @rooms.present?
          - @rooms.each do |room|
            %tr
              %td= link_to room.name, users_room_path(room)
              %td #{room.reviewees.count}/#{room.capacity}
              %td= room.reviewer.name
              %td= room.status_for(current_user)
              %td
                - if room.reviewer == current_user
                  = link_to "編集する", edit_users_room_path(room), class: "btn btn-success btn-sm"
                  = link_to "削除する", users_room_path(room), method: :delete, data: { confirm: "#{room.name}を削除してもよろしいですか？" }, class: "btn btn-danger btn-sm"
        - else
          %tr
            %td 表示できるルームはありません
            %td -
            %td -
            %td -
