.padding
  .box
    .box-header.navbar
      %h2.flex
        %span.align-middle ルーム一覧
      - if current_user.is_reviewer?
        = link_to new_users_room_path, class: "btn btn-icon btn-rounded primary text-white flex-row order-lg-1 w-32" do
          %i.fa.fa-plus
    %table.table
      %thead
        %tr
          %th{ scope: "col" } ルーム名
          %th{ scope: "col" } 参加上限人数
          %th{ scope: "col" } レビュワー
          %th{ scope: "col" } ステータス
      %tbody
        - if @rooms.present?
          - @rooms.each do |room|
            %tr
              %td= link_to room.name, users_room_path(room)
              %td #{room.reviewees.size}/#{room.capacity}
              %td= room.reviewer.name
              %td= room.status_for(current_user)
        - else
          %tr
            %td 表示できるルームはありません
            %td -
            %td -
            %td -
