#aside.app-aside.box-shadow-x.fade.nav-expand{ aria: { hidden: true } }
  .sidenav.dk.dark.modal-dialog
    .navbar.lt
      = link_to users_root_path, class: "navbar-brand" do
        %svg{ height: "28", viewbox: ("0 0 24 24"), width: "28", xmlns: "http://www.w3.org/2000/svg" }
          %path{ d: ("M0 0h24v24H0z"), fill: "none" }
          %path.fill-theme{ d: ("M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z"), fill:"#fff" }
        %span.hidden-folded.d-inline BestCode
    .flex.hide-scroll
      .scroll
        .nav-border.b-primary{ data: { nav: true } }
          %ul.nav
            %li.nav-header.hidden-folded.mt-2
              %span.text-xs.hidden-folded
            %li
              = link_to "" do
                %span.nav-icon
                  %i.fa.fa-folder-open
                %span.nav-text リポジトリ管理
              %ul.sub-nav
                %li
                  = link_to users_repos_path do
                    - pulls_count = current_user.pulls.with_hooked_repos.count
                    - if pulls_count > 0
                      %span.nav-badge
                        %b.badge.badge-sm.badge-pill.danger
                          = pulls_count
                    %span.nav-text Myリポジトリ
                %li
                  = link_to new_users_repo_path do
                    %span.nav-text 追加
            %li.nav-header.hidden-folded.mt-2
              %span.text-xs.hidden-folded
            %li
              = link_to "" do
                %span.nav-icon
                  %i.fa.fa-home
                %span.nav-text ルーム管理
              %ul.sub-nav
                %li
                  = link_to users_my_rooms_path do
                    - active_state_count = current_user.active_state_count_for_reviewer + current_user.active_state_count_for_reviewee
                    -if active_state_count > 0
                      %span.nav-badge
                        %b.badge.badge-sm.badge-pill.danger
                          = active_state_count
                    %span.nav-text Myルーム
                - if current_user.reviewer?
                  %li
                    = link_to new_users_room_path do
                      %span.nav-text 作成
                %li
                  = link_to users_rooms_path do
                    %span.nav-text 一覧
    .no-shrink.lt
      .nav-fold
        .hidden-folded.flex.p-2-3.bg
          .d-flex.p-1
            = link_to users_sign_out_path, method: :delete do
              %i.fa.fa-power-off.text-muted.mr-1
              %span ログアウト
