.modal.fade{ class: "#{'first-time-user' if current_user.is_first_time?}" }
  .modal-dialog.animate
    .modal-content
      .modal-header.info
        %h5.modal-title
          審査結果
      .modal-body.text-center
        %h6.mb-3 BestCodeへご登録いただきありがとうございます！
        = image_tag current_user.reviewer? ? "/images/reviewercat.jpg" : "/images/revieweecat.png", style: "width: 300px;", class: "rounded-circle"
        .mb-3
          %span 厳正なる審査の結果、あなたは
          %b= current_user.role_text
          %span としてご利用いただけます。
        %h6= "#{current_user.role_text}のできること"
        - if current_user.reviewer?
          .mb-1
            %i.fa.fa-check.text-success.mr-2
            他のユーザーへレビューを行うことで、収益を上げることができます(開発中)
        .mb-3
          %i.fa.fa-check.text-success.mr-2
          他のユーザーからレビューを受けることで、スキルアップを図れます
        .mb-0
          それでは早速サービスを利用してみましょう！
      .modal-footer
        = button_tag "閉じる", class: "btn danger", data: { dismiss: :modal }

