!!!
%html
  %head
    %title= @title ? "#{@title} | BestCode" : "BestCode"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = csp_meta_tag
    = webpack_css_tag("main.css")
    = javascript_include_tag webpack_assets_path("main.js")
  %body.fixed-aside.fixed-content
    #app.app
      = render "layouts/aside"
      #content.app-content.box-shadow-0{ role: :main }
        #content-header.content-header.white.box-shadow-0
          .navbar.navbar-expand-lg
            %a.d-lg-none.mx-2{ data: { toggle: "modal", target: "#aside" } }
              %i.fa.fa-bars{ style: "font-size: 20px; margin-top: 3px;" }
            #pageTitle.navbar-text.nav-title.flex= @title || "ダッシュボード"
            %ul.nav.flex-row.order-lg-2
              %li.dropdown.d-flex.align-items-center
                = link_to '#', class: 'd-flex align-items-center', data: { toggle: 'dropdown' } do
                  %span.avatar.w-32
                    = image_tag current_user.check_and_return_image(:thumb), alt: '...'
                .dropdown-menu.dropdown-menu-right.w.pt-2.mt-2.animate.fadeIn
                  = link_to users_profile_path(current_user.name), class: "dropdown-item" do
                    %b= current_user.name
                  - if current_user.reviewer?
                    .dropdown-divider
                    = link_to new_users_room_path, class: 'dropdown-item' do
                      %span ルームを作成
                  .dropdown-divider
                  = link_to 'ログアウト', users_sign_out_path, method: :delete, class: 'dropdown-item'
        #content-main.content-main
          - flash.each do |message_type, message|
            = content_tag :div, class: "alert alert-#{message_type} alert-dismissible mb-0", role: "alert" do
              = message
              %button.close{ type: "button", data: { dismiss: "alert" }, aria: { label: "Close" } }
                %span{ aria: { hidden: true } } &times;
          = yield
