!!!
%html
  %head
    = display_meta_tags default_meta_tags(@title)
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = csp_meta_tag
    = webpack_css_tag("main.css")
    = javascript_include_tag webpack_assets_path("main.js")
    = analytics_init if GoogleAnalytics.valid_tracker?
  %body
    .d-flex.flex-column.flex
      .navbar.dark.bg.pos-rlt.box-shadow
        .mx-auto
          = link_to root_path, class: 'navbar-brand' do
            %svg{ height: "28", viewbox: ("0 0 24 24"), width: "28", xmlns: "http://www.w3.org/2000/svg" }
              %path{ d: ("M0 0h24v24H0z"), fill: "none" }
              %path.fill-theme{ d: ("M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z"), fill:"#fff" }
            %span.hidden-folded.d-inline BestCode
      #content-body
        = yield
      #content-footer.content-footer.white
        .p-3.text-center
          .mb-2.d-flex.justify-content-center
            = link_to "FAQ", faq_path, class: "text-muted mr-3"
            = link_to "利用規約", terms_path, class: "text-muted mr-3"
            = link_to "プライバシーポリシー", privacy_policy_path, class: "text-muted mr-3"
            = link_to "Twitter", "https://twitter.com/toyokappa", class: "text-muted", target: "_blank"
          %span.text-muted 2018 &copy; Toyokappa, All Rights Reserved.
    - flash.each do |message_type, message|
      .flash-container
        = content_tag :div, message, class: "alert alert-#{message_type}"
